/*YYYYYYYYYY GOOGLE FONT YYYYYYYYYY*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');


/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/ 
:root{
    --header_height: 3.5rem;
    /*YYYYYYYYYY Colors YYYYYYYYYY*/
    /*YYYYYYYYYY 
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
     YYYYYYYYYY*/
     
    --first-hue: 250;
    --sat: 33%;
    --lig: 9%; 
    --second-hue :219; 
 
    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat) 55%); /* -4% */
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 4%, 30%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 2%, 16%);
    --container-color: hsl(var(--second-hue), 11%, 88%);
    --white-color: hsl(var(--first-hue), 17%, 91%);
    --dark-color: hsl(var(--second-hue), 19%, 11%);


    /*YYYYYYYYYY FONT and TYPOGRAPHIY YYYYYYYYYY*/
    /* .5rem - 8px | 1rem - 16px...*/
    --body-font: 'Times New Roman', Times, serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .675rem;

    /*YYYYYYYYYY FONT WEIGHT YYYYYYYYYY*/
    --font-large: 1500;
    --font-medium: 500;
    --font-semibold: 1000;

    /*YYYYYYYYYY Z INDEX YYYYYYYYYY*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*YYYYYYYYYY RERSPONSIVE TYPOGRAPHY YYYYYYYYYY*/
@media screen and (min-widht: 968px ) {
     :root{
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .873rem;
        --smaller-font-size: .873rem;
     }
}

/*YYYYYYYYYY BASE YYYYYYYYYY*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; /* for light mode animation*/
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*YYYYYYYYYY THEME YYYYYYYYYY*/
.change-theme{
    font-size: 1.25rem;
    /*cursor: pointer;*/
    transition: .3s;
    color: var(--white-color);
}


/*YYYYYYYYYY REUSABLE CSS CLASSES YYYYYYYYYY*/
.container{
    max-width: 968px;
    margin-left: 1rem; 
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section_title,
.section_subtitle{
    text-align: center ;
}


.section_title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
}


.section_subtitle{
   display: block;
   font-size: var(--smaller-font-size);
   color: var(--text-color-light);
}

/*YYYYYYYYYY PRELOADER YYYYYYYYYY*/
.preloader {
    align-items: center;
    background: #FFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
  }


/*YYYYYYYYYY HEADER & NAV YYYYYYYYYY*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav{
    height: var(--header_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    color: var(--white-color);
    font-weight: var(--font-medium);
    font-size: var(--h1-font-size);
    transition: .4s;
}

.nav_logo:hover{
    color: var(--first-color-alt);
}

.nav_menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 22%, 90%, .8);
    width: 90%;
    border-radius: 4rem;
    padding: 2rem 2.25rem;
    backdrop-filter: blur(10px);
    transition: .4s;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}


/*YYYYYYYYYY ACTIVE LINK YYYYYYYYYY*/
.active-link{
    background: linear-gradient(290deg,
                      hsla(var(--first-hue), var(--sat), var(--lig), 1),
                      hsla(var(--first-hue), var(--sat), var(--lig), .5)
                    );
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 4); 
    color: var(--title-color);
        
}

/*YYYYYYYYYY ACTIVE LINK YYYYYYYYYY*/
.scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3) ; 
}

/*YYYYYYYYYY HOME YYYYYYYYYY*/
.home_container{
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.home_data{
    text-align: center;
}

.home_greeting,
.home_education{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.home_greeting{
    display: block; 
    color: var(--title-color);
    margin-bottom: .25rem;
}

.home_educ_textAnime{  
    font-size: var(--h1-font-size);
    display: flex;
    margin-left: 20%;
}

.typeWriter{
    display: inline-flex;
    font-size: var(--h2-font-size);
    color: rgb(224, 51, 8);
    margin-left: 30%;
}




.home_name{
    font-size: var(--biggest-font-size);
}


.home_img{
    width: 333px;
}


.home_handle{
   justify-self: center;
   width: 190px;
   height: 293px; 
   background: linear-gradient(290deg,
                      hsla(var(--first-hue), var(--sat), var(--lig), 1),
                      hsla(var(--first-hue), var(--sat), var(--lig), .2)
                    );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home_buttons{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
}

.home_buttons a span{
    color: var(--white-color);
    font-weight: var(--font-large);
}

.home_social,
.home_scroll{
   position: absolute; 
}

.home_scroll{
    color: var(--white-color);
}

.home_social{
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home_social-link{
    width: max-content;
    background-color: var(--container-color);
    color:var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
}

.home_social-link:hover{
    background-color: var(--first-color);
    color: #fff;
}

.home_social::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
}

.home_scroll{
    color: var(--first-color);
    right: -1.25rem;
    bottom: 4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}


.home_scroll-icon{
    font-size: 1.25rem;
}


.home_scroll-name{
   font-size: var(--smaller-font-size);
   color: var(--white-color);
   transform: rotate(-90deg);
}


/*YYYYYYYYYY BUTTONS YYYYYYYYYY*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s  ;
    
}


.button:hover{
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}


/*YYYYYYYYYY ABOUT YYYYYYYYYY*/
.about_container{
    row-gap: 2.5rem;
}

.about_img{
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about_data{
  text-align: center;  
}

.about_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.about_box{
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about_icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
}

.about_title{
    font-size: var(--small-font-size);
    color: var(--dark-color);
}

.about_subtitle{
    font-size: var(--normal-font-size);
}

.about_description{
    margin-bottom: 2rem;
    color: var(--white-color);
}

.about_description-item{
    overflow: hidden;
    color: var(--white-color);
    font-size: var(--h2-font-size);
}

.about_description-item span{
     color: var(--first-color);
     font-weight: var(--font-large);
}

.about_button{
    font-size: var(--h2-font-size);
    color: var(--white-color);
}

/*YYYYYYYYYY SKILLS YYYYYYYYYY*/
.skills_container{
    row-gap: 2rem;
    padding-top: 1rem;
}

.skills_content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}


.skills_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills_group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills_data{
    display: flex;
    column-gap: .5rem;
}

.skills .bxs-badge-check{
    font-size: 1rem;
    color: var(--first-color);
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    color: var(--dark-color);
}

.skills_level{
    font-size: var(--tiny-font-size);
    
}



/*YYYYYYYYYY SERVICES YYYYYYYYYY*/
.services_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.services_card{
    background-color: var(--container-color);
    padding : 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.services_title{
    font-size: var(--h3-font-size);
    margin-bottom: 2.5rem;
    color: var(--dark-color);
}

.services_button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.services_button:hover .services_icon{
    transform: translateX(.25rem);
}

.services_icon{
    font-size: 2rem;
    transition: .4s;
}

/*YYYYYYYYYY Services modal YYYYYYYYYY*/
.services_modal{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue), 28%, 16%, .7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    visibility: hidden; 
    opacity: 0; 
    transition: .4s;
    z-index: var(--z-modal);
}

.services_modal-content{
    position: relative;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services_modal-title,
.services_modal-description{
    text-align: center;
    color: var(--dark-color);
}

.services_modal-title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}

.services_modal-description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
    color: var(--white-color);
}

.services_modal-list{
    display: grid;
    row-gap: .75rem;
}

.services_modal-item{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.services_modal-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}

.services_modal-info{
    font-size: var(--h3-font-size);
    color: var(--white-color);
}

.services_modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}


/*YYYYYYYYYY ACTIVE MODAL  YYYYYYYYYY*/
.active-modal{
    opacity: 1;
    visibility: visible;
}


/*YYYYYYYYYY WORK YYYYYYYYYY*/
.work_container {
    padding-top: 1rem;
}

.work_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item{
  cursor: pointer;
  color: var(--title-color); 
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}


.work1_card{
    position: relative;
    padding: 1rem 1rem;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.work1_img:hover{
    transform: translateY(.25rem);
    color: green;
}

.work1_img{
    width: 400px;
    height: 280px;
    border-radius: 1rem;  
}

.work1_overlay{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: .3s;
    padding:  5rem 1.5rem 5rem;
    row-gap: 1rem;
}

.work1_title{
    font-size: var(--h1-font-size); 
    color: #fff;
}

.work1_description{
    font-size: var(--h2-font-size);
    color: #fff;
    text-align: center;
}


.work1_card:hover .work1_overlay{
    bottom: 0;
}

.work1_icon{
    font-size: 3rem;
    transform: .3s;
    margin-left: 5rem;
    color: #fff;
}

.work1_light:hover .work1-icon{
    transform: translateX(.25rem);
}


/*YYYYYYYYYY Active Item Work YYYYYYYYYY*/
.active-work{
    background-color: var(--first-color);
    color: var(--body-color);
}



/*YYYYYYYYYY TESTIMONNIAL YYYYYYYYYY*/
/**/

/*.testimonial_container{
    width: 20%;
    height: 50%;
    margin-left: 24%;
}*/


.testimonial_card{
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem ;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    /*width: 80%;
    height: 150%;*/
    /*justify-content: center;
    align-items: center;*/
}

.testimonial_img{
    width: 10%;
    border-radius: 5rem;
    margin-bottom: 1rem;
    margin-left: 18rem;
}

.testimonial_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
    margin-left: 19rem;
}

.testimonial_description{
    font-size: var(--small-font-size);
    margin-left: 2rem;
    font-size: var(--normal-font-size);
}


/*YYYYYYYYYY Swiper Class YYYYYYYYYY*/
.swiper-pagination-bullet{
    background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}



/*YYYYYYYYYY CONTACT YYYYYYYYYY*/
.contact_container{
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.contact_title{
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.contact_info{
    display: grid;
    gap: 1rem;
}

.contact_card{
    background-color: var(--dark-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact_card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact_card-title,
.contact_card-data{
    font-size: var(--normal-font-size);
}

.contact_card-title{
    font-weight: var(--font-medium);
}

.contact_card-data{
    display: block;
    margin-bottom: .75rem;
}

.contact_button{
    color: var(--body-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-large);
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact_button:hover,  .contact_button-icon:hover{
    transform: translateX(.25rem);
    color: var(--white-color);
}

.contact_button-icon{
    font-size: var(--h1-font-size);
    transition: .4s;
    color: var(--white-color);
}

.contact_form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact_form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background : none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.contact_form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact_form-area{
    height: 11rem;
}

.contact_form-area textarea{
    resize: none;
}

.contact_button-form span{
    color: var(--white-color);
}


/*YYYYYYYYYY FOOTER YYYYYYYYYY*/
.footer{
    background-color: var(--dark-color);
}

.footer_container{
    padding: 2rem 0 6rem;
}

.footer_title,
.footer_link{
    color: var(--white-color);
}

.footer_title{
    text-align: center;
    margin-bottom: 2rem;
}

.footer_list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem; 
}

.footer_social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    border-radius: .25rem;
    padding: .25rem;
    font-size: 1rem;
    display: inline-flex;
    margin-bottom: 1rem;
}

.footer_copy{
    display: block;
    margin-bottom: 1.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}


/*YYYYYYYYYY SCROLL BAR YYYYYYYYYY*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 26%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue), 8%, 20%);
}


/*YYYYYYYYYY BREAKPOINTS YYYYYYYYYY*/
/*YY FOR SMALL DEVICES YY*/
@media screen and (max-width: 350px) {
    .nav_menu{
        padding: 1rem 1.5rem;
    }
    .home_buttons{
        flex-direction: column;
    }

    .home_handle{
        width: 150px;
        height: 253px;
    }

    .home_img{
        width: 130px;
    }

    .about_info{
        grid-template-columns: repeat(2, 1fr);
    }

    .skills_box{
        column-gap: 1rem;
    }

    .skills_name{
        font-size: var(--small-font-size);
    }

    .services_container{
        grid-template-columns: 145px;
        justify-content: center;
    }

    .work_item{
        font-size: var(--small-font-size);
    }

    .work_filters{
        column-gap: .25rem;
    }
}


/*YY FOR MEDIUM DEVICES YY*/
@media screen and (min-width: 576px) {
    .nav_menu{
        width: 333px;
        /*transform: rotate(-90deg);*/
        margin-left: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .about_info{
        grid-template-columns: repeat(2, 140px);
        justify-content: center;
    }

    .about_description{
       padding: 0 5rem;
    }

    .skills_container{
        justify-content: center;
    }

    .skills_content{
        padding: 2rem 4rem;
    }

    .services_container{
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
    }

    .services_modal-content{
        width: 500px;
        padding: 4.5rem 2.5rem  2.5rem;
    }

    .services_modal-description{
        padding: 0  3.5rem;
    }

    .work_container{
        justify-content: center;
    }

   /* .work_img{
        width: 295px;
    }*/

    .contact_info{
        grid-template-columns: 300px;
        justify-content: center;
    }

    .contact_form{
        width: 360px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 767px) {
    .work_container{
        grid-template-columns: repeat(2, max-content);
    }

    .contact_container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 3rem;
    }
}

/*YY FOR LARGE  DEVICES YY*/
@media screen and (min-width: 992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 6.5 0 1rem;
    }
    
    .section_title{
        margin-bottom: 3.5rem;
    }

    .nav{
        height: calc(var(--header_height) + 1rem); 
    }

    .home_handle{
        width: 290px;
        height: 400px;
    }

    .home_img{
        width: 228px;
    }

    .home_social-link{
        padding: .4rem;
        font-size: 1.25rem;
    }

    .home_social::after{
        transform: rotate(90deg) translate(16px, 0);
    }

    .home_scroll-icon{
        font-size: 2rem;
    }

    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4rem;
    }

    .about_img{
        width: 350px;
    }

    .about_data{
        text-align: initial;
    }

    .about_info{
        justify-content: initial;
        grid-template-columns: repeat(3, 150px);
    }

    .about_box{
        text-align: center;
        padding: 1rem 1.25rem;
    }

    .about_description{
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    }

    .skills_container{
        grid-template-columns: repeat(2, 350px);
        column-gap: 3rem;
    }

    .services_container{
        grid-template-columns: repeat(3, 192px);
        column-gap: 3rem;
    }

    .services_card{
        padding: 5rem 2rem 1.5rem;
    }

    .work_container{
       gap: 3rem ;
       grid-template-columns: repeat(3, 400px);
       row-gap: .1rem;
       column-gap: 0;
    }

    /*.work_card{
        padding:  1.25rem;
    }*/

    /*.work_img{
        margin-bottom: 1rem;
    }*/

    /*.work_title{
        margin-bottom: .5rem;
    }*/


    .testimonial_container{
        width: 750px;
    }

    .testimonial_card{
        padding:  1.5rem 2rem;
    }

    .contact_container{
        column-gap: 5rem;
    }

    .footer_social-link{
        font-size: 1.25rem;
        padding:  .4rem;
        border-radius: .5rem;
    }
 }   

/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/
/*YYYYYYYYYY VARIABLES CSS YYYYYYYYYY*/